<li class='list-group-item'>
	{{burger_name}}

	<button type="button" class="btn btn-dark change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}EAT IT {{else}} N/A {{/if}}
	</button>

	<button type="button" class="btn btn-danger delete-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}} N/A {{else}} TRASH IT {{/if}}
	</button>
</li>
